<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>682021986402-mtv0qprl58k9739p7o8gfmoes5hbopno.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.682021986402-mtv0qprl58k9739p7o8gfmoes5hbopno</string>
	<key>API_KEY</key>
	<string>AIzaSyD_AB6W67N4814oYqVzTgELfUUiDlLckIY</string>
	<key>GCM_SENDER_ID</key>
	<string>682021986402</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.startyo</string>
	<key>PROJECT_ID</key>
	<string>startyo-f0bd8</string>
	<key>STORAGE_BUCKET</key>
	<string>startyo-f0bd8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:682021986402:ios:dcb6f53865774b974b313b</string>
</dict>
</plist>